h1{
	color: red;
	font-family: 'Italiana', serif;
	font-size: 20px;
	text-align: center;
}
.col-md-1{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
}
.form-control{
	width:300px;
	border: 1px solid grey;
	padding: 10px 10px;
}	